{% extends 'base.html' %}

{% block content %}
<span class="title"><h1>{% block title %} The Details Page {% endblock %}</h1></span>
<div class="content">
            <div class="register">
            <p><b># {{ deposit.id }}</b></p>
            <!-- {% for regst in deposit.family %} -->
            <p class="title">
                {{ register.firstname}} {{ register.lastname }}
                <!-- <p>{{ regst.firstname}} {{ regst.lastname }}</p> -->
            </p>
            <div class="content">
                Date of birth {{ register.date_of_birth }}<br>
                Date created: {{ register.created_at }}<br>
                <!-- {% endfor %} -->
                <br>
                Ksh. {{ deposit.amount }}<br>
                <hr>
                <a href="{{ url_for('register.edit', depo_id=deposit.id) }}"><button>Edit Amount</button></a>
            </div>
            
            </div>
            
    </div>
{% endblock %}