{% block content %}
<a href="{{url_for('register.index')}}"><button>Back</button></a>
<span class="title"><h1>{% block title %} The Member Page {% endblock %}</h1></span>
<div class="content">
    <div class="register">
        <p><b># {{ deposit.id }}</b></p>
        {% for family in deposit.family %}
        <p class="title">
            {{ family.firstname}} {{ family.lastname }}
        </p>
        <div class="register">
            <p>Date of birth {{ family.date_of_birth }} </br></p>
            <p>Created at: {{ family.created_at }} </p>
            
        </div>
        <pre >Ksh. {{ deposit.amount}} </pre>
        <a href="{{ url_for('register.edit', depo_id=deposit.id) }}"><button onclick="return confirm('Are you sure you want to edit this entry?')">Edit Amount</button></a>
        <a href="{{url_for('family.family', depo_id=family.id)}}"><button>Family</button></a>
        {% endfor %}
        
        <hr>
        <a href="{{ url_for('register.create_wife', depo_id=deposit.id)}}"><button >New Wife</button></a>
        <a href="{{ url_for('register.create_child', depo_id=deposit.id)}}"><button >New Child</button></a>
        <form method="POST"
                action="{{ url_for('register.delete',
                                    depo_id=deposit.id) }}">
                <input type="submit" value="Delete Member"
                    onclick="return confirm('Are you sure you want to delete this entry?')">
            </form>
    </div>
</div>
{% endblock %}