<!DOCTYPE html>
<html>
    <head><title>Edit wife</title></head>
        <body><h1 style="width: 100%">
        {% block title %} Edit Details 
        {% endblock %}
    </h1>
    
    
    <form method="post">
        <p>
            <label for="firstname">First Name</label>
            <input type="text" name="firstname"
                   value="{{ wife.firstname }}"
                   placeholder="First name">
            </input>
        </p>
        
        <p>
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname"
                   value="{{ wife.lastname }}"
                   placeholder="Last name">
            </input>
        </p>

        <p>
            <label for="date_of_birth">Date of firth</label>
            <input type="date" name="date_of_birth"
                    value="{{ wife.date_of_birth}}"
                   placeholder="Date of birth">
            </input>
        </p>

        <p>
            <button type="submit">Edit</button>
            
            <button><a href="{{url_for('family.family', depo_id = register.id)}}">cancel</a></button>
        </p>
    </form>
    </body>
</html>